<!DOCTYPE html>
<html>
<head>

<title><%=@room.name%> - Lolgebra Chatroom</title>

<link rel="stylesheet" type="text/css" href="/css/shared.css" />
<link rel="stylesheet" type="text/css" href="/css/chat.css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

<script type="text/javascript" src="http://laughinghan.github.com/mathquill/mathquill.js"></script>

<script type="text/javascript" src="/faye.js"></script>

<script type="text/javascript">
PAGE_DATA = {
  room_name: '<%=@room.name%>',
  username: '<%=@username%>'
}
</script>

<script type="text/javascript" src="/js/chat.js"></script>

<p>
  <span id="title"><%=@room.name%></span><br />
  a <a href="/">lolgebra</a> chatroom:
  <span id="tagline">
    <a href="http://laughinghan.github.com/mathquill">MathQuill</a>-powered
    chatrooms where you can "LOL" in math!
  </span>

<div id="chatbox-container">
  <div id="chatbox">
    <p id="loading">Loading...</p>
  </div>

  <form onsubmit="postMessage();return false">
    <span class="mathquill-textbox"></span>
  </form>
</div><!--"#chatbox-container"-->

<small>
  (Type a dollar sign <code>$</code> to enter math mode, then try
  <code>x^2</code> or <code>3/4</code> and using the arrow keys to
  move around. Type two dollar signs <code>$$</code> to enter an 
  actual dollar character.
  <span style="display:none">
    You can also try using the tab key instead of arrow keys, which 
    gets you &quot;out&quot; of a command, and <code>a_n</code> for 
    subscripts. Numerous LaTeX-style commands preceded by a backslash,
    such as <code>\theta</code>[space or enter], are supported as well.
    Another example is <code>\sqrt</code>[space or enter]<code>2</code>.
    <a id="less" href="javascript:void(0)" onclick="
      $(this).parent().hide().next().show();
    ">&laquo; less</a>
  </span>
  <a id="more" href="javascript:void(0)" onclick="
    $(this).hide().prev().show();
  ">more &raquo;</a>
</small>

</body>
</html>
