<!DOCTYPE html>
<html>
<head>

<title><%=@room_name%> - Lolgebra Chatroom</title>

<link rel="stylesheet" type="text/css" href="/css/shared.css">
<link rel="stylesheet" type="text/css" href="/css/chat.css">

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="http://laughinghan.github.com/mathquill/mathquill.js"></script>
<script type="text/javascript" src="/faye.js"></script>

<script type="text/javascript">
//Page Data
window.ROOM = '<%=@room_name%>';
window.USERNAME = '<%=@username%>';
</script>

<script type="text/javascript" src="/js/chat.js"></script>

<p>
  <span id="title"><%=@room_name%></span><br>
  a <a href="/">lolgebra</a> chatroom:
  <i id="tagline">
    <a href="http://laughinghan.github.com/mathquill">MathQuill</a>-powered
    chatrooms where you can "LOL" in math!
  </i>

<div id="chatbox-container">
  <div id="chatbox">
    <p id="loading">Loading...</p>
  </div>
  <span class="mathquill-textbox"></span>
</div><!--"#chatbox-container"-->

<small>
  (Type a dollar sign <code>$</code> to enter math mode, then in math mode try
  <code>x^2</code> or <code>3/4</code> and the arrow keys to
  move around. Type two dollar signs <code>$$</code> to enter an 
  actual dollar character.
  <span style="display:none">
    You can also try using the tab key instead of arrow keys, which 
    gets you &quot;out&quot; of a command, and <code>a_n</code> for 
    subscripts. Numerous LaTeX-style commands preceded by a backslash,
    such as <code>\theta</code>[space or enter], are supported as well.
    Another example is <code>\sqrt2</code>.
    <a id="less" href="javascript:void(0)" onclick="
      $(this).parent().hide().next().show();
    ">&laquo;&nbsp;less</a>
  </span>
  <a id="more" href="javascript:void(0)" onclick="
    $(this).hide().prev().show();
  ">more&nbsp;&raquo;</a>
  )
</small>

</body>
</html>
