<!DOCTYPE html>
<html>
<head>

<title>Lolgebra Chatrooms</title>

<style type="text/css">
body{
  max-width: 6.5in;
  margin: 0 auto;
  font-family: sans-serif;
  font-size: 11pt;
}
</style>

</head>
<body>

<h2>Lolgebra Chatrooms</h2>

<p><i><a href="http://laughinghan.github.com/mathquill">MathQuill</a>-powered chatrooms where you can "LOL" in math!</i>

<form onsubmit="location='/chat/'+this.textbox.value;return false;">
Join a chatroom: <input type="text" name="textbox" value="math" onkeydown="var text=this;setTimeout(function(){var link=document.getElementById('link');link.href='/chat/'+text.value;link.innerHTML='http://lolgebra.com/chat/'+text.value;},0);"> <a href="/chat/math" id="link">http://lolgebra.com/chat/math</a>
</form>

<p><small style="font-size:85%">(Not case-sensitive. Joining a room that doesn&rsquo;t exist automatically creates it.)</small>

<p>Lolgebra is open source <a href="http://github.com/jayferd/lolgebra">on GitHub</a>!

<p>Created by <a href="http://github.com/jayferd">Jay</a> and <a href="http://github.com/laughinghan">Han</a>.

</body>
</html>
