body {
  max-width: 6.5in;
  margin: 0 auto;
  font-family: sans-serif;
  font-size: 11pt;
  background-color: #def;
}

span#title {
  font-size: 200%;
  font-weight: bold;
}

i#tagline {
  font-size: 90%;
}

div#chatbox-container {
  width: 600px;
}

div#chatbox {
  height: 400px;
  overflow: auto;
  border: 1px solid #444;
  margin-bottom: -1px;
  padding: 2pt;
  background-color: white;
}
div#chatbox p {
  margin: 0 0 8pt 0;
  padding: 0;
}

input {
  font-size: 100%;
}

.mathquill-textbox {
  background-color: white;
  padding: 1pt;
  width: 596px;
}
.mathquill-textbox, .mathquill-rendered-math .text{
  font-family: sans-serif;
  font-size: 11pt;
}
